<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>PDF</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.pdf</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Images</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.jpeg</string>
				<string>public.png</string>
				<string>public.tiff</string>
				<string>com.compuserve.gif</string>
			</array>
		</dict>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>CFBundleURLName</key>
			<string>net.gini.ginipay-ottonova</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ginipay-ottonova</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>net.gini.ginipay</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ginipay-business</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>ginipay-DDsmpHs93puLf</string>
		<string>ginipay-ptYzZrNmlgWsW</string>
		<string>ginipay-za5wWqjtY5cWu</string>
		<string>ginipay-m6BnyhqnMm72p</string>
		<string>ginipay-Jdl5QfQ9THAiW</string>
		<string>ginipay-CDNzcNw9krqiR</string>
		<string>ginipay-5H2aVOlpoN4Rz</string>
		<string>ginipay-b7rI96et3Z18P</string>
		<string>ginipay-bnwH3OMawKL6j</string>
		<string>ginipay-FalLmit8eStZb</string>
		<string>ginipay-DrL5HACXXdOlU</string>
		<string>ginipay-a5h6BTnIfio93</string>
		<string>ginipay-kireHcM4F5KnF</string>
		<string>ginipay-i0WYoJLMVzeJ3</string>
		<string>ginipay-lnFwi5PCkySPI</string>
		<string>ginipay-WZFeM1e49JISj</string>
		<string>ginipay-McR1xIgY4QqKz</string>
		<string>ginipay-eCzol0zXPebH9</string>
		<string>ginipay-Gru1iJF31Yd0v</string>
		<string>ginipay-3Xas3pKiFtS93</string>
		<string>ginipay-PBJWducqgKNAR</string>
		<string>ginipay-insurance-bank-mock</string>
		<string>ginipay-cbwm</string>
		<string>ginipay-consorsbank</string>
		<string>ginipay-bank</string>
		<string>ginipay-ginibank</string>
		<string>ginipay-consorsbank</string>
		<string>ginipay-cbwm</string>
		<string>ginipay-pOxHgsePeL7O4</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
</dict>
</plist>
