name: Check Bank SDK
permissions:
  contents: read
on:
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]
    paths:
      - 'BankSDK/**'
      - 'CaptureSDK/**'
      - 'BankAPILibrary/**'
  workflow_call:
    secrets:
      GINI_MOBILE_CI_PASSWORD:
        required: true
      GINI_MOBILE_CI_USERNAME:
        required: true
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-check
  cancel-in-progress: ${{ !contains(github.ref, 'refs/tags/')}}

jobs:
  check:
    runs-on: macos-latest
    strategy:
      matrix:
        target: [GiniBankSDK]
        destination: ['platform=iOS Simulator,OS=18.5,name=iPhone 16']
    steps:
    - uses: maxim-lobanov/setup-xcode@60606e260d2fc5762a71e64e74b2174e8ea3c8bd # v1.6.0
      with:
        xcode-version: '16.4'

    - name: Checkout
      uses: actions/checkout@v4

    - name: Check package GiniBankSDK
      if: ${{ matrix.target == 'GiniBankSDK' }}
      run: |
           cd BankSDK/GiniBankSDK
           swift package update

    # Setup ruby to run unit tests for the GiniBankSDK
    - name: Setup ruby
      uses: ruby/setup-ruby@dffc446db9ba5a0c4446edb5bca1c5c473a806c5 # v1.245.0
      with:
        ruby-version: '3.2.0'
        bundler-cache: true

    - name: Build and run tests for "${{ matrix.target }}"
      uses: maierj/fastlane-action@5a3b971aaa26776459bb26894d6c1a1a84a311a7 # v3.1.0
      env:
        TEST_CLIENT_SECRET: ${{ secrets.GINI_MOBILE_CI_PASSWORD }}
        TEST_CLIENT_ID: ${{ secrets.GINI_MOBILE_CI_USERNAME }}
      with:
        lane: 'run_unit_tests'
        options: >
            {
              "target": "${{ matrix.target }}",
              "destination": "${{ matrix.destination }}",
              "clientId": "$TEST_CLIENT_ID",
              "clientSecret": "$TEST_CLIENT_SECRET"
            }
    # Run example app and run unit and integration tests for both GiniBankSDK and GiniBankSDKPinning
    - name: Build example app and run unit and integration tests
      env:
        TEST_CLIENT_SECRET: ${{ secrets.GINI_MOBILE_CI_PASSWORD }}
        TEST_CLIENT_ID: ${{ secrets.GINI_MOBILE_CI_USERNAME }}
      if: ${{ matrix.target == 'GiniBankSDK' }}
      run: >
        xcodebuild clean test
        -project BankSDK/GiniBankSDKExample/GiniBankSDKExample.xcodeproj
        -scheme "GiniBankSDKExampleTests"
        -destination "${{ matrix.destination }}"
        CODE_SIGN_IDENTITY=""
        CODE_SIGNING_REQUIRED=NO
        ONLY_ACTIVE_ARCH=NO
        CLIENT_ID="$TEST_CLIENT_ID"
        CLIENT_SECRET="$TEST_CLIENT_SECRET"