name: Build BankSDK XCFrameworks
permissions:
  contents: read
on:
  push:
    tags:
      - 'GiniBankSDK;[0-9]+.[0-9]+.[0-9]+;xcframeworks**'
      - 'GiniBankSDK;[0-9]+.[0-9]+.[0-9]+-beta[0-9][0-9]+;xcframeworks**'
  workflow_dispatch:

jobs:
  prepare-frameworks:
    name: Create Release
    runs-on: macos-15
    steps:
      - uses: maxim-lobanov/setup-xcode@60606e260d2fc5762a71e64e74b2174e8ea3c8bd # v1.6.0
        with:
          xcode-version: '16.4'

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Ruby
        uses: ruby/setup-ruby@dffc446db9ba5a0c4446edb5bca1c5c473a806c5 # v1.245.0
        with:
          ruby-version: '3.2.0'
          bundler-cache: true

      - name: Archiving project and creating XCFrameworks
        run: |
          ./build-GiniBankSDK-XCFrameworks.sh

      - name: Download profiles
        uses: maierj/fastlane-action@5a3b971aaa26776459bb26894d6c1a1a84a311a7 # v3.1.0
        env:
          APP_IDENTIFIER: ${{ vars.BANK_BUNDLE_IDS }}
          DISTRIBUTION_TYPE: adhoc
          GIT_URL: ${{ secrets.MATCH_GIT_URL }}
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
          KEYCHAIN_PASSWORD: ${{ secrets.KEYCHAIN_PASSWORD }}
        with:
          lane: 'download_profiles'
      
      - name: Sign the XCFrameworks
        env:
          KEYCHAIN_PASSWORD: ${{ secrets.KEYCHAIN_PASSWORD }}
        run: |
          # sign xcframeworks
          codesign --timestamp -v --sign "iPhone Distribution: Gini GmbH (JA825X8F7Z)" GiniBankAPILibrary.xcframework && \
          codesign --timestamp -v --sign "iPhone Distribution: Gini GmbH (JA825X8F7Z)" GiniBankSDK.xcframework && \
          codesign --timestamp -v --sign "iPhone Distribution: Gini GmbH (JA825X8F7Z)" GiniCaptureSDK.xcframework && \
          codesign --timestamp -v --sign "iPhone Distribution: Gini GmbH (JA825X8F7Z)" GiniUtilites.xcframework

      - name: Archive frameworks
        uses: actions/upload-artifact@v4
        with:
          name: GiniBankSDKFramework
          path: |
            GiniBankAPILibrary.xcframework
            GiniBankSDK.xcframework
            GiniCaptureSDK.xcframework
            GiniUtilites.xcframework
