name: Check Bank SDK
on:
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]
    paths:
      - 'BankSDK/**'
      - 'CaptureSDK/**'
      - 'BankAPILibrary/**'
  workflow_call:
    secrets:
      GINI_MOBILE_TEST_CLIENT_SECRET:
        required: true
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-check
  cancel-in-progress: ${{ !contains(github.ref, 'refs/tags/')}}

jobs:
  check:
    runs-on: macos-latest
    permissions:
      contents: read
    strategy:
      matrix:
        target: [GiniBankSDK, GiniBankSDKPinning]
        destination: ['platform=iOS Simulator,OS=17.5,name=iPhone 15']
    steps:
    - uses: maxim-lobanov/setup-xcode@v1.6.0
      with:
        xcode-version: '15.3'

    - name: Checkout
      uses: actions/checkout@v4

    - name: Check package GiniBankSDK
      if: ${{ matrix.target == 'GiniBankSDK' }}
      run: |
           cd BankSDK/GiniBankSDK
           swift package update

    - name: Check package GiniBankSDKPinning
      if: ${{ matrix.target == 'GiniBankSDKPinning' }}
      run: |
           cd BankSDK/GiniBankSDKPinning
           swift package update

    - name: Build sdk targets
      run: |
        xcodebuild -workspace GiniMobile.xcworkspace -scheme "${{ matrix.target }}" -destination "${{ matrix.destination }}" CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO ONLY_ACTIVE_ARCH=NO

    - name: Run unit tests
      run: |
        xcodebuild clean test -workspace GiniMobile.xcworkspace -scheme "${{ matrix.target }}Tests" -destination "${{ matrix.destination }}" CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO ONLY_ACTIVE_ARCH=NO

    - name: Extract Device Name
      id: extract_name
      run: |
        DEVICE_NAME=$(echo "${{ matrix.destination }}" | sed -n 's/.*name=\([^,]*\).*/\1/p')
        echo "DEVICE_NAME=${DEVICE_NAME}" >> $GITHUB_ENV        

    - name: Start iOS Simulator
      run: |
        xcrun simctl boot "$DEVICE_NAME"
        xcrun simctl bootstatus "$DEVICE_NAME" -b
   
    - name: Build example app and run unit and integration tests
      if: ${{ matrix.target == 'GiniBankSDK' }}
      run: >
        xcodebuild clean test
        -project BankSDK/GiniBankSDKExample/GiniBankSDKExample.xcodeproj
        -scheme "GiniBankSDKExampleTests"
        -destination "${{ matrix.destination }}"
        CODE_SIGN_IDENTITY=""
        CODE_SIGNING_REQUIRED=NO
        ONLY_ACTIVE_ARCH=NO
        CLIENT_ID="gini-mobile-test"
        CLIENT_SECRET="${{ secrets.GINI_MOBILE_TEST_CLIENT_SECRET }}"

    - name: Build pinning example app and run unit and integration tests
      if: ${{ matrix.target == 'GiniBankSDKPinning' }}
      run: >
        xcodebuild clean test
        -project BankSDK/GiniBankSDKPinningExample/GiniBankSDKPinningExample.xcodeproj
        -scheme "GiniBankSDKPinningExampleTests"
        -destination "${{ matrix.destination }}"
        CODE_SIGN_IDENTITY=""
        CODE_SIGNING_REQUIRED=NO
        ONLY_ACTIVE_ARCH=NO
        CLIENT_ID="gini-mobile-test"
        CLIENT_SECRET="${{ secrets.GINI_MOBILE_TEST_CLIENT_SECRET }}"
