name: Publish GiniBankSDKExample to App Center
on:
  push:
    branches:
      - PIA-1851_distr_appcenter

jobs:
  #check:
  #  uses: gini/gini-mobile-ios/.github/workflows/bank-sdk.check.yml@PIA-1851_distr_appcenter
  #  secrets:
  #    GINI_MOBILE_TEST_CLIENT_SECRET: ${{ secrets.GINI_MOBILE_TEST_CLIENT_SECRET }}

  upload-version:
    #needs: check
    runs-on: macOS-11    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: '13.0'

      - name: Setup provisioning profile
        env:
          BUILD_CERTIFICATE_BASE64: ${{ secrets.GINI_DISTRIBUTION_UNIVERSAL_CERTIFICATE }}
          P12_PASSWORD: ${{ secrets.IOS_CERTS_SECRET }}
          BUILD_PROVISION_PROFILE_BASE64: ${{ secrets.GINI_BANK_SDK_EXAMPLE_PROVISION_PROFILE }}
          KEYCHAIN_PASSWORD: ${{ secrets.IOS_CERTS_SECRET }}
        run: |
          CERTIFICATE_PATH=$RUNNER_TEMP/build_certificate.p12
          PP_PATH=$RUNNER_TEMP/build_pp.mobileprovision
          KEYCHAIN_PATH=$RUNNER_TEMP/app-signing.keychain-db

          # import certificate and provisioning profile from secrets
          echo -n "$BUILD_CERTIFICATE_BASE64" | base64 --decode --output $CERTIFICATE_PATH
          echo -n "$BUILD_PROVISION_PROFILE_BASE64" | base64 --decode --output $PP_PATH

          # create temporary keychain
          security create-keychain -p "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH
          security set-keychain-settings -lut 21600 $KEYCHAIN_PATH
          security unlock-keychain -p "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH

          # import certificate to keychain
          security import $CERTIFICATE_PATH -P "$P12_PASSWORD" -A -t cert -f pkcs12 -k $KEYCHAIN_PATH
          security list-keychain -d user -s $KEYCHAIN_PATH

          # apply provisioning profile
          mkdir -p ~/Library/MobileDevice/Provisioning\ Profiles
          cp $PP_PATH ~/Library/MobileDevice/Provisioning\ Profiles

      - name: Archiving project
        run: |
            xcodebuild clean archive \
            -workspace GiniMobile.xcworkspace \
            -scheme "GiniBankSDKExample" \
            -archivePath ./GiniBankSDKExample.xcarchive \
            -configuration Release \
            -destination generic/platform=iOS \
            CODE_SIGN_IDENTITY="Apple Distribution" \
            CODE_SIGNING_REQUIRED=NO \
            ONLY_ACTIVE_ARCH=NO \
            CLIENT_ID="gini-mobile-test" \
            CLIENT_SECRET="${{ secrets.GINI_MOBILE_TEST_CLIENT_SECRET }}"
    
      - name: Exporting .ipa
        run: |
            xcodebuild  \
            -exportArchive \
            -archivePath GiniBankSDKExample.xcarchive \
            -exportPath . \
            -exportOptionsPlist ExportOptions.plist \
            -destination "generic/platform=iOS" \
            CODE_SIGNING_REQUIRED=YES \
            ONLY_ACTIVE_ARCH=NO 

      - name: Check file existence
        uses: andstor/file-existence-action@v1
        with:
          files: "*.ipa"
      
      - name: Distribute ipa to App Center
        uses: akiojin/appcenter-distribute-github-action@v1
        with:
          token: ${{ secrets.GINI_APPCENTER_API_TOKEN }}
          path: GinBankSDKExampleBank.ipa
          app: Gini-Team-Organization/Gini-Bank-SDK-Example

          