name: Publish docs for Bank API Library
permissions:
  contents: read
on:
  push:
    tags:
      - 'GiniBankAPILibrary;[0-9]+.[0-9]+.[0-9]+;doc**'
  workflow_call:
    secrets:
      MOBILE_CI_APP_ID:
        required: true
      MOBILE_CI_APP_PRIVATE_KEY:
        required: true
  workflow_dispatch:

jobs:
  publish:
    permissions:
      contents: write
    uses: ./.github/workflows/sdk.publish.docs.yml
    with:
      project_folder: 'BankAPILibrary'
      package_folder: 'GiniBankAPILibrary'
      version_file_path: 'BankAPILibrary/GiniBankAPILibrary/Sources/GiniBankAPILibrary/GiniBankAPILibraryVersion.swift'
      documentation_title: 'GiniBankAPILibrary Reference'
      git_tag: ${{ github.ref }}
    secrets:
      MOBILE_CI_APP_ID: ${{ secrets.MOBILE_CI_APP_ID }}
      MOBILE_CI_APP_PRIVATE_KEY: ${{ secrets.MOBILE_CI_APP_PRIVATE_KEY }}              
