name: Builds docs for Bank API Library

on:
  workflow_call:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ !contains(github.ref, 'refs/tags/')}}

jobs:
  documentation:
    runs-on: macos-latest
    steps:
    - uses: maxim-lobanov/setup-xcode@v1.6.0
      with:
        xcode-version: '15.3'

    - name: Checkout
      uses: actions/checkout@v4

    - name: setup ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.2.0'
        bundler-cache: true

    - name: Build GiniBankAPILibrary documentation
      uses: maierj/fastlane-action@v3.1.0
      with:
        lane: 'build_docs'
        options: >
          { 
            "project_folder": "BankAPILibrary",
            "package_folder": "GiniBankAPILibrary"
          }

    - name: archive documentation
      uses: actions/upload-artifact@v4
      with:
        name: GiniBankAPILibraryDocumentation
        path: BankAPILibrary/GiniBankAPILibrary/Documentation/Api        
