name: Check Capture SDK
on:
  workflow_call:
    secrets:
      GINI_MOBILE_TEST_CLIENT_SECRET:
        required: true
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-check
  cancel-in-progress: ${{ !contains(github.ref, 'refs/tags/')}}
  
jobs:
  check:
    runs-on: macos-latest
    strategy:
      matrix:
        target: [GiniCaptureSDK, GiniCaptureSDKPinning]
        destination: ['platform=iOS Simulator,OS=17.5,name=iPhone 15']
    steps:
    - uses: maxim-lobanov/setup-xcode@v1.6.0
      with:
        xcode-version: '15.3'

    - name: Checkout
      uses: actions/checkout@v4

    - name: Check package GiniCaptureSDK
      if: ${{ matrix.target == 'GiniCaptureSDK' }}
      run: |
           cd CaptureSDK/GiniCaptureSDK
           swift package update

    - name: Check package GiniCaptureSDKPinning
      if: ${{ matrix.target == 'GiniCaptureSDKPinning' }}
      run: |
           cd CaptureSDK/GiniCaptureSDKPinning
           swift package update

    - name: Build sdk targets
      run: |
        xcodebuild -workspace GiniMobile.xcworkspace -scheme "${{ matrix.target }}" -destination "${{ matrix.destination }}" CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO ONLY_ACTIVE_ARCH=NO

    - name: Run unit tests
      run: |
        xcodebuild clean test -workspace GiniMobile.xcworkspace -scheme "${{ matrix.target }}Tests" -destination "${{ matrix.destination }}" CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO ONLY_ACTIVE_ARCH=NO