name: Publish docs for Capture SDK
permissions:
  contents: read
on:
  push:
    tags:
      - 'GiniCaptureSDK;[0-9]+.[0-9]+.[0-9]+;doc**'
  workflow_call:
    secrets:
      MOBILE_CI_APP_ID:
        required: true
      MOBILE_CI_APP_PRIVATE_KEY:
        required: true
jobs:
  publish:
    permissions:
      contents: write
    uses: ./.github/workflows/sdk.publish.docs.yml
    with:
      project_folder: 'CaptureSDK'
      package_folder: 'GiniCaptureSDK'
      version_file_path: 'CaptureSDK/GiniCaptureSDK/Sources/GiniCaptureSDK/GiniCaptureSDKVersion.swift'
      documentation_title: 'GiniCaptureSDK Reference'
      git_tag: ${{ github.ref }}
    secrets:
      MOBILE_CI_APP_ID: ${{ secrets.MOBILE_CI_APP_ID }}
      MOBILE_CI_APP_PRIVATE_KEY: ${{ secrets.MOBILE_CI_APP_PRIVATE_KEY }}
