name: Publish GiniHealthSDKExample to Firebase Distribution
permissions:
  contents: read
on:
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]
    paths:
      - 'MerchantSDK/**'
      - 'HealthAPILibrary/**'
      - 'GiniComponents/**'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-publish
  cancel-in-progress: ${{ !contains(github.ref, 'refs/tags/')}}

jobs:
  upload-version:
    environment: firebase-manual-deploy
    runs-on: macos-latest 
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 3

      - uses: maxim-lobanov/setup-xcode@60606e260d2fc5762a71e64e74b2174e8ea3c8bd # v1.6.0
        with:
          xcode-version: '16.4'

      - name: Setup Manual Signing for Xcode project
        uses: ruby/setup-ruby@dffc446db9ba5a0c4446edb5bca1c5c473a806c5 # v1.245.0
        with:
          ruby-version: '3.2.0'
          bundler-cache: true
      - uses: maierj/fastlane-action@5a3b971aaa26776459bb26894d6c1a1a84a311a7 # v3.1.0
        with:
          lane: 'setup_manual_signing'
          options: >
            { 
              "project_path":"${{ vars.HEALTH_PROJECT_PATH }}",
              "team_id":"${{ vars.TEAM_ID }}",
              "target":"${{ vars.HEALTH_TARGET_NAME }}",
              "bundle_identifier": "${{ vars.HEALTH_BUNDLE_ID }}",
              "profile_name": "${{ vars.HEALTH_PROFILE_NAME }}",
              "entitlements_file_path": "${{ vars.HEALTH_ENTITLEMENTS_PATH }}", 
              "ci": "true"
            }

      - name: Setup Credentials
        env:
          TEST_CLIENT_SECRET: ${{ secrets.GINI_MOBILE_CI_PASSWORD }}
          TEST_CLIENT_ID: ${{ secrets.GINI_MOBILE_CI_USERNAME }}
        run: |
            sed -i '' \
            -e 's/let clientID = "client_id"/let clientID = "'"$TEST_CLIENT_ID"'"/' \
            -e 's/let clientPassword = "client_password"/let clientPassword = "'"$TEST_CLIENT_SECRET"'"/' \
            HealthSDK/GiniHealthSDKExample/GiniHealthSDKExample/CredentialsManager.swift

      - name: Setup Firebase API Key
        run: |
            plutil -replace API_KEY -string "${{ secrets.FIREBASE_API_KEY }}" HealthSDK/GiniHealthSDKExample/GoogleService-Info.plist

      - name: Archiving project
        uses: maierj/fastlane-action@5a3b971aaa26776459bb26894d6c1a1a84a311a7 # v3.1.0
        env:
          APP_IDENTIFIER: ${{ vars.HEALTH_BUNDLE_ID }}
          DISTRIBUTION_TYPE: adhoc
          GIT_URL: ${{ secrets.MATCH_GIT_URL }}
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
          KEYCHAIN_PASSWORD: ${{ secrets.KEYCHAIN_PASSWORD }}
          APP_SCHEME: ${{ vars.HEALTH_TARGET_NAME }}
          IPA_FILE: ${{ vars.HEALTH_TARGET_NAME }}
        with:
          lane: 'build_app_adhoc'

      - name: Check file existence
        uses: andstor/file-existence-action@076e0072799f4942c8bc574a82233e1e4d13e9d6 # v3.0.0
        with:
          files: "*.ipa"
          fail: true

      - name: Install Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - run: npm install -g firebase-tools@13.17.0
        shell: bash

      - name: Distribute health-sdk example ipa to Firebase App Distribution
        id: distribute
        run: |
          chmod +x .github/publish_to_firebase.sh
          .github/publish_to_firebase.sh
        shell: bash
        env:
          INPUT_APPID: ${{ secrets.GINI_HEALTH_SDK_EXAMPLE_APP_FIREBASE_ID }}
          INPUT_SERVICECREDENTIALSFILECONTENT: ${{ secrets.FIREBASE_CREDENTIAL_FILE_CONTENT }}
          INPUT_FILE: GiniHealthSDKExample.ipa
          INPUT_GROUPS: testers
          INPUT_RELEASENOTES: |
            ${{ format('{{ {0} {1} }}', github.ref, github.sha) }}
            ${{ github.event.head_commit.message }}

      - name: Extract Jira ticket
        id: extract_jira_ticket
        run: |
          echo "Checking the last 3 commits for JIRA tickets..."
          jira_ticket_pattern='[A-Z]+-[0-9]+'
          jira_ticket=""

          commit_message=$(git log -1 --pretty=%B)
          jira_ticket=$(echo "$commit_message" | grep -oE "$jira_ticket_pattern" | head -1)

          if [[ -n "$jira_ticket" ]]; then
            echo "JIRA Ticket Found in Last Commit: $jira_ticket"
          else
            commit_message=$(git log --no-merges -1 --pretty=%B)
            jira_ticket=$(echo "$commit_message" | grep -oE "$jira_ticket_pattern" | head -1)

            if [[ -n "$jira_ticket" ]]; then
              echo "JIRA Ticket Found in Second Last Commit: $jira_ticket"
            else    
              commit_message=$(git log --no-merges -2 --pretty=%B)
              jira_ticket=$(echo "$commit_message" | grep -oE "$jira_ticket_pattern" | head -1)

              if [[ -n "$jira_ticket" ]]; then
                echo "JIRA Ticket Found in Third Last Commit: $jira_ticket"
              fi
            fi
          fi

          if [[ -n "$jira_ticket" ]]; then
            echo "JIRA_TICKET_NAME=${jira_ticket}" >> $GITHUB_ENV
          else
            echo "No JIRA Ticket found in the last 3 commits. Build link will not be posted to Jira. Pick it manually. This job will pass anyway."
            exit 0
          fi

      - name: Login to jira
        if: ${{ env.JIRA_TICKET_NAME != null }}
        uses: justin-jhg/gajira-login@3242a47d56cb5dd4373ed75b829d99ecdf5140df # v1.5.0
        env:
          JIRA_BASE_URL: ${{ secrets.JIRA_BASE_URL }}
          JIRA_USER_EMAIL: ${{ secrets.JIRA_USER_EMAIL }}
          JIRA_API_TOKEN: ${{ secrets.JIRA_API_KEY }}

      - name: Comment on issue
        if: ${{ env.JIRA_TICKET_NAME != null }}
        uses: atlassian/gajira-comment@76589d6b6d0b94b1ca6b01171c01a6affb5d6701 # v3.0.0
        with:
          issue: ${{ env.JIRA_TICKET_NAME }}
          comment: Build health example app ${{ steps.distribute.outputs.FIREBASE_CONSOLE_URI }}  and app tester build can be downloaded from here ${{ steps.distribute.outputs.TESTING_URI }}
