name: Check Health SDK
on:
  push:
    paths:
      - 'HealthSDK/**'
      - 'HealthAPILibrary/**'
    tags-ignore:
      - '**'
  pull_request:
    paths:
      - 'HealthSDK/**'
      - 'HealthAPILibrary/**'
  workflow_call:
    secrets:
      GINI_MOBILE_TEST_CLIENT_SECRET:
        required: true
  workflow_dispatch:

jobs:
  check:
    runs-on: macos-latest
    strategy:
      matrix:
        target: [GiniHealthSDK]
        destination: ['platform=iOS Simulator,OS=17.2,name=iPhone SE (3rd generation)', 'platform=iOS Simulator,OS=18.1,name=iPhone 14']
    steps:
    - uses: maxim-lobanov/setup-xcode@v1.6.0
      with:
        xcode-version: '15.3'

    - name: Checkout
      uses: actions/checkout@v4

    - name: Check package GiniHealthSDK
      run: |
           cd HealthSDK/GiniHealthSDK
           swift package update

    - name: Build sdk targets
      run: |
        xcodebuild -workspace GiniMobile.xcworkspace -scheme "${{ matrix.target }}" -destination "${{ matrix.destination }}" CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO ONLY_ACTIVE_ARCH=NO

    - name: Run unit tests
      run: |
        xcodebuild clean test -workspace GiniMobile.xcworkspace -scheme "${{ matrix.target }}Tests" -destination "${{ matrix.destination }}" CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO ONLY_ACTIVE_ARCH=NO

    - name: Build example app
      run: |
        xcodebuild -project HealthSDK/GiniHealthSDKExample/GiniHealthSDKExample.xcodeproj -scheme "GiniHealthSDKExampleTests" -destination "${{ matrix.destination }}" CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO ONLY_ACTIVE_ARCH=NO CLIENT_SECRET="${{ secrets.GINI_MOBILE_TEST_CLIENT_SECRET }}"

    - name: Build pinning example app and run integration tests
      run: >
        xcodebuild clean test
        -project HealthSDK/GiniHealthSDKExample/GiniHealthSDKExample.xcodeproj
        -scheme "GiniHealthSDKExampleTests"
        -destination "${{ matrix.destination }}"
        -skip-testing:GiniHealthSDKExampleTests/GiniHealthSDKPinningExampleWrongCertificatesTests
        CODE_SIGN_IDENTITY=""
        CODE_SIGNING_REQUIRED=NO
        ONLY_ACTIVE_ARCH=NO
        CLIENT_ID="gini-mobile-test"
        CLIENT_SECRET="${{ secrets.GINI_MOBILE_TEST_CLIENT_SECRET }}"
