name: Publish docs for Health SDK
permissions:
  contents: read
on:
  push:
    tags:
      - 'GiniHealthSDK;[0-9]+.[0-9]+.[0-9]+;doc**'
  workflow_call:
    secrets:
      MOBILE_CI_APP_ID:
        required: true
      MOBILE_CI_APP_PRIVATE_KEY:
        required: true
jobs:
  publish:
    permissions:
      contents: write
    uses: ./.github/workflows/sdk.publish.docs.yml
    with:
      project_folder: 'HealthSDK'
      package_folder: 'GiniHealthSDK'
      version_file_path: 'HealthSDK/GiniHealthSDK/Sources/GiniHealthSDK/GiniHealthSDKVersion.swift'
      documentation_title: 'GiniHealthSDK Reference'
      git_tag: ${{ github.ref }}
    secrets:
      MOBILE_CI_APP_ID: ${{ secrets.MOBILE_CI_APP_ID }}
      MOBILE_CI_APP_PRIVATE_KEY: ${{ secrets.MOBILE_CI_APP_PRIVATE_KEY }}
