name: Builds docs for Health SDK

on:
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]
    paths:
      - 'HealthSDK/**'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ !contains(github.ref, 'refs/tags/')}}
  
jobs:
  documentation:
    runs-on: macos-latest    
    steps:
    - uses: maxim-lobanov/setup-xcode@v1.6.0
      with:
        xcode-version: '16.4'

    - name: Checkout
      uses: actions/checkout@v4

    - name: setup ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.2.0'
        bundler-cache: true

    - name: Build GiniHealthSDK documentation
      uses: maierj/fastlane-action@v3.1.0
      with:
        lane: 'build_docs'
        options: >
          { 
            "project_folder": "HealthSDK",
            "package_folder": "GiniHealthSDK"
          }

    - name: archive documentation
      uses: actions/upload-artifact@v4
      with:
        name: GiniHealthSDKDocumentation
        path: HealthSDK/GiniHealthSDK/Documentation/Api
