name: Check Health API Library
on: [push]
#  push:
#    paths:
#      - 'HealthAPILibrary/**'
jobs:
  spm-dep-check:
    runs-on: macOS-11
    strategy:
      matrix:
        target: [GiniHealthAPILibrary, GiniHealthAPILibraryPinning]
        testtarget: [GiniHealthAPILibraryTests, GiniHealthAPILibraryPinningTests]
        destination: ['platform=iOS Simulator,OS=15.0,name=iPhone 13', 'platform=iOS Simulator,OS=13.4,name=iPhone X']
    steps:
    - uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: '13.0'

    - name: checkout
      uses: actions/checkout@v2

    - name: check package GiniHealthAPILibrary
      run: |
           cd HealthAPILibrary/GiniHealthAPILibrary
           swift package update

    - name: check package GiniHealthAPILibraryPinning
      run: |
           cd HealthAPILibrary/GiniHealthAPILibraryPinning
           swift package update       

    - name: build sdk targets
      run: |
        xcodebuild -workspace GiniMobile.xcworkspace -scheme "${target}" -destination "${destination}" CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO ONLY_ACTIVE_ARCH=NO
      env: 
        target: ${{ matrix.target }}  
        destination: ${{ matrix.destination }}

    
