name: Publish docs for Health API Library
permissions:
  contents: write
on:
  push:
    tags:
      - 'GiniHealthAPILibrary;[0-9]+.[0-9]+.[0-9]+;doc**'

jobs:
  compute-inputs:
    runs-on: ubuntu-latest
    outputs:
      is_stable_release: ${{ steps.check-branch.outputs.is_stable_release }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - name: Check if tag is on main branch
        id: check-branch
        shell: bash
        run: |
          branch_ref=$(git branch -r --contains "${{ github.ref }}")
          branch_name=$(echo ${branch_ref/origin\/} | tr -d '[:space:]')
          echo "branch_name=$branch_name"
          if [ "$branch_name" = "main" ]; then
            echo "is_stable_release=true" >> $GITHUB_OUTPUT
          else
            echo "is_stable_release=false" >> $GITHUB_OUTPUT
          fi

  publish:
    needs: compute-inputs
    permissions:
      contents: write
    uses: ./.github/workflows/sdk.publish.docs.yml
    with:
      project_folder: 'HealthAPILibrary'
      package_folder: 'GiniHealthAPILibrary'
      version_file_path: 'HealthAPILibrary/GiniHealthAPILibrary/Sources/GiniHealthAPILibrary/GiniHealthAPILibraryVersion.swift'
      documentation_title: 'GiniHealthAPILibrary Reference'
      git_tag: ${{ github.ref }}
      is_stable_release: ${{ needs.compute-inputs.outputs.is_stable_release == 'true' }}
    secrets:
      MOBILE_CI_APP_ID: ${{ secrets.MOBILE_CI_APP_ID }}
      MOBILE_CI_APP_PRIVATE_KEY: ${{ secrets.MOBILE_CI_APP_PRIVATE_KEY }}
