name: Builds docs for Health SDK

on:
  push:
    paths:
      - 'HealthSDK/**'
  workflow_dispatch:
    tags-ignore:
      - '**'
  pull_request:
    paths:
      - 'HealthSDK/**'
  
jobs:
  documentation:
    runs-on: macos-latest    
    steps:
    - uses: maxim-lobanov/setup-xcode@v1.5.1
      with:
        xcode-version: '14.3.1'

    - name: Checkout
      uses: actions/checkout@v4

    - name: setup ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.2.0'
        bundler-cache: true

    - name: Build GiniHealthSDK documentation
      uses: maierj/fastlane-action@v3.0.0
      with:
        lane: 'build_docs'
        options: >
          { 
            "project_folder": "HealthSDK",
            "package_folder": "GiniHealthSDK"
          }

    - name: archive documentation
      uses: actions/upload-artifact@v3
      with:
        name: GiniHealthSDKDocumentation
        path: HealthSDK/GiniHealthSDK/Documentation/Api
