name: Check Health API Library
on:
  pull_request:
   types: [opened, edited, reopened, synchronize]
   paths:
      - 'HealthAPILibrary/**'
  workflow_call:
    secrets:
      GINI_MOBILE_TEST_CLIENT_SECRET:
        required: true
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-check
  cancel-in-progress: ${{ !contains(github.ref, 'refs/tags/')}}

jobs:
  check:
    runs-on: macos-latest
    strategy:
      matrix:
        target: [GiniHealthAPILibrary, GiniHealthAPILibraryPinning]
        destination: ['platform=iOS Simulator,OS=17.2,name=iPhone SE (3rd generation)', 'platform=iOS Simulator,OS=17.5,name=iPhone 15']
    steps:
    - uses: maxim-lobanov/setup-xcode@v1.6.0
      with:
        xcode-version: '15.3'

    - name: Checkout
      uses: actions/checkout@v4

    - name: Check package GiniHealthAPILibrary
      if: ${{ matrix.target == 'GiniHealthAPILibrary' }}
      run: |
           cd HealthAPILibrary/GiniHealthAPILibrary
           swift package update

    - name: Check package GiniHealthAPILibraryPinning
      if: ${{ matrix.target == 'GiniHealthAPILibraryPinning' }}
      run: |
           cd HealthAPILibrary/GiniHealthAPILibraryPinning
           swift package update

    - name: Build sdk targets
      run: |
        xcodebuild -workspace GiniMobile.xcworkspace -scheme "${{ matrix.target }}" -destination "${{ matrix.destination }}" CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO ONLY_ACTIVE_ARCH=NO

    - name: Run unit tests
      run: |
        xcodebuild clean test -workspace GiniMobile.xcworkspace -scheme "${{ matrix.target }}Tests" -destination "${{ matrix.destination }}" CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO ONLY_ACTIVE_ARCH=NO
   
    - name: Build example app and run integration tests
      if: ${{ matrix.target == 'GiniHealthAPILibrary' }}
      run: >
        xcodebuild clean test
        -project HealthAPILibrary/GiniHealthAPILibraryExample/GiniHealthAPILibraryExample.xcodeproj
        -scheme "GiniHealthAPILibraryExampleTests"
        -destination "${{ matrix.destination }}"
        CODE_SIGN_IDENTITY=""
        CODE_SIGNING_REQUIRED=NO
        ONLY_ACTIVE_ARCH=NO
        CLIENT_ID="gini-mobile-test"
        CLIENT_SECRET="${{ secrets.GINI_MOBILE_TEST_CLIENT_SECRET }}"

    - name: Build pinning example app and run integration tests
      if: ${{ matrix.target == 'GiniHealthAPILibraryPinning' }}
      run: >
        xcodebuild clean test
        -project HealthAPILibrary/GiniHealthAPILibraryPinningExample/GiniHealthAPILibraryPinningExample.xcodeproj
        -scheme "GiniHealthAPILibraryPinningExampleTests"
        -destination "${{ matrix.destination }}"
        -skip-testing:GiniHealthAPILibraryPinningExampleTests/HealthAPILibraryPinningWrongCertificatesTests
        CODE_SIGN_IDENTITY=""
        CODE_SIGNING_REQUIRED=NO
        ONLY_ACTIVE_ARCH=NO
        CLIENT_ID="gini-mobile-test"
        CLIENT_SECRET="${{ secrets.GINI_MOBILE_TEST_CLIENT_SECRET }}"
        &&
        xcodebuild clean test
        -project HealthAPILibrary/GiniHealthAPILibraryPinningExample/GiniHealthAPILibraryPinningExample.xcodeproj
        -scheme "GiniHealthAPILibraryPinningExampleTests"
        -destination "${{ matrix.destination }}"
        -only-testing:GiniHealthAPILibraryPinningExampleTests/HealthAPILibraryPinningWrongCertificatesTests
        CODE_SIGN_IDENTITY=""
        CODE_SIGNING_REQUIRED=NO
        ONLY_ACTIVE_ARCH=NO
        CLIENT_ID="gini-mobile-test"
        CLIENT_SECRET="${{ secrets.GINI_MOBILE_TEST_CLIENT_SECRET }}"
