name: Publish docs for Merchant SDK
permissions:
  contents: read
on:
  push:
    tags:
      - 'GiniMerchantSDK;[0-9]+.[0-9]+.[0-9]+;doc**'
  workflow_call:
    secrets:
      MOBILE_CI_APP_ID:
        required: true
      MOBILE_CI_APP_PRIVATE_KEY:
        required: true
jobs:
  publish:
    permissions:
      contents: write
    uses: ./.github/workflows/sdk.publish.docs.yml
    with:
      project_folder: 'MerchantSDK'
      package_folder: 'GiniMerchantSDK'
      version_file_path: 'MerchantSDK/GiniMerchantSDK/Sources/GiniMerchantSDK/GiniMerchantSDKVersion.swift'
      documentation_title: 'GiniMerchantSDK Reference'
      git_tag: ${{ github.ref }}
    secrets:
      MOBILE_CI_APP_ID: ${{ secrets.MOBILE_CI_APP_ID }}
      MOBILE_CI_APP_PRIVATE_KEY: ${{ secrets.MOBILE_CI_APP_PRIVATE_KEY }}
